.notification {
    position: absolute;
    padding: 2rem 1rem;
    box-shadow: var(--box-shadow);
    font-size: 1rem;
    width: 25rem;
    border-radius: 1rem;

    left: -20rem;
    top: 3.5rem;
    z-index: 2;
    background-color: var(--main-bg-color);
}

.notification > p {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;

}

.notification_box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    transition: all .3s ease-in;
}

.notification_box:hover {
    background-color: var(--shadow-light-color);
    color: var(--main-bg-color);
    border-radius: .3rem;
}

.notification_box_img {
    border-radius: 5rem;
}

.notification_box_info {
    line-height: 0;
    margin-top: -.8rem;
}

.notification_box_info  h4 {
    font-weight: bold;
}

.notification_box_info p {
    font-size: 1rem;
    line-height: .9;
    position: relative;
}

.notification_box_new {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: red;
}

@media screen and (min-device-width: 320px) {
    .notification {
        width: 18em;
        left: -5.4rem;
    }

    .notification_box {
        padding: .5rem;
    }

    .notification_box p {
        white-space: nowrap;
        font-size: 12px;
    }
}
@media screen and (min-device-width: 35em) and (max-device-width: 768px){
    .notification {
        width: 25rem;
        left: -15.5rem;    
    }
    
    .notification_box p {
        font-size: 18px;
    }
    .notification_box_info  h4  {
        font-size: 18px;
    }

}


