
.audio{
    width: 100%;
    margin-top: 4rem;
    position: relative;
    top: 500px;
}

.audio_box{
    width: 80%;
    margin: 0 auto;
    padding-block: 2rem 8rem;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.audio_box_right{
    padding: .5rem 0 0 0;
    display: grid;
    gap: 2rem;
}

.audio_box_left{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media screen and (min-device-width: 320px) and (max-device-width: 375px) {
    .audio_box{
        width: 90%;
        grid-template-columns: 1fr;
    }

    .audio_box_right{
        gap: 2rem;
    }
    .audio_box_left{
        grid-template-columns: 1fr;
        gap: 3.5rem;
    }
}

@media screen and (min-device-width: 377px) and (max-device-width: 425px) {
    .audio_box{
        width: 90%;
        grid-template-columns: 1fr;
    }

    .audio_box_right{
        gap: 2rem;
    }
    .audio_box_left{
        grid-template-columns: 1fr;
        gap: 3.5rem;
    }
}

@media screen and (min-device-width: 427px) and (max-device-width: 768px) {
    .audio_box{
        width: 90%;
        grid-template-columns: 1fr;
    }

    .audio_box_right{
        gap: 2rem;
    }
    .audio_box_left{
        grid-template-columns: 1fr;
        gap: 3.5rem;
    }
}